// Video
.mejs-container {
    width: 100% !important;
    height: auto !important;
    padding-top: 56.25%;
}

.mejs-overlay,
.mejs-poster {
    width: 100% !important;
    height: 100% !important;
}

.mejs-mediaelement video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}

.popup .wp-video {
    width: 100% !important;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: $color-primary;
}

// Images
.alignright,
a .alignright {
    float: right;
    margin: 0 0 1.618em 1.618em;

    @include phone {
        float: left;
        margin-right: 100%;
        margin-left: 0;
    }
}

.alignleft,
a .alignleft {
    float: left;
    margin: 0 1.618em 1.618em 0;

    @include phone {
        float: left;
        margin-right: 100%;
        margin-left: 0;
    }
}

.aligncenter,
a .aligncenter {
    display: block;
    margin: 0 auto 1.618em auto;
}

.alignnone,
a .alignnone {
    display: block;
    margin-bottom: 1.618em;
}

@include phone {

    img.alignleft,
    img.alignright {
        max-width: 50%;
        height: auto;
    }
}

// Caption
.wp-caption {
    margin-bottom: 1.618em;
}

.wp-caption img {
    border: none;
    margin: 0;
    padding: 0;
}

.wp-caption p.wp-caption-text {
    font-size: 0.875em;
    line-height: 1.4em;
    margin-bottom: 0;
    padding: 0.625em 0;
    border-bottom: 1px solid $color-light;
}